/* Globale Stile für das HTML und den Body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background-image: url("pics/background.jpg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* Stile für den Button PLAY1 */
#play1 {
  position: absolute;
  top: 10%;
  left: 47%;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display","Segoe UI","Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


/* Hover-Effekt für den Button PLAY1 */
#play1:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


/* Media Query für größere Bildschirme */
@media (min-width: 768px) {
  #play1 {
    padding: 0 2.6rem;
  }
}


/* Stile für den Button PLAY2 */
#play2 {
  position: absolute;
  top: 20%;
  left: 47%;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display","Segoe UI","Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


/* Hover-Effekt für den Button PLAY2 */
#play2:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


/* Media Query für größere Bildschirme */
@media (min-width: 768px) {
  #play2 {
    padding: 0 2.6rem;
  }
}


/* Stile für den Button PLAY3 */
#play3 {
  position: absolute;
  top: 30%;
  left: 47%;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display","Segoe UI","Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


/* Hover-Effekt für den Button PLAY3 */
#play3:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


/* Media Query für größere Bildschirme */
@media (min-width: 768px) {
  #play3 {
    padding: 0 2.6rem;
  }
}


/* Klasse für den leuchtenden Button */
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}


/* Klasse für den leuchtenden Text im Button */
.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}


/* Klasse für einen Buchstaben mit reduzierter Opazität */
.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}


/* Pseudo-Elemente für den leuchtenden Button, sein Anfangszustand*/
.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}


/* Pseudo-Elemente für den leuchtenden Button, sein Endzustand*/
.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}


/* Hover-Effekte für den leuchtenden Button */
.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}


/* Hover-Effekte für den leuchtenden Text im leuchtenden Button */
.glowing-btn:hover .glowing-txt {
  animation: none;
}


/* Hover-Effekte für die Buchstaben mit geringer Opazität im leuchtenden Button */
.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}


/* Pseudo-Elemente für den Hover-Effekt vom leuchtenden Button, sein Anfangszustand*/
.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}


/* Pseudo-Elemente für den Hover-Effekt vom leuchtenden Button, sein Endzustand*/
.glowing-btn:hover:after {
  opacity: 1;
}


/* Keyframes für die Animationen von den flackernden Buchstaben*/
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}


/* Keyframes für die Animationen vom flackernden Text*/
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}


/* Keyframes für die Animationen vom flackernden Rand*/
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


/* Definition einer benutzerdefinierten CSS-Variable für die Glühfarbe */
:root {
  --glow-color: hsl(186 100% 69%);
}


/* Globale Box-Modell-Anpassung für alle Elemente und deren Pseudo-Elemente */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Keyframes für die Animation der Hintergrundposition und -größe bei -webkit- (für Webkit-basierte Browser wie Chrome und Safari) */
@-webkit-keyframes slidein {
  /* Startpunkt der Animation mit Hintergrundposition oben und Hintergrundgröße von 3000px */
  from {background-position: top; background-size:3000px; }
  /* Endpunkt der Animation mit verschobener Hintergrundposition und verkleinerter Hintergrundgröße auf 2750px */
  to {background-position: -100px 0px;background-size:2750px;}
}


/* Keyframes für die Animation der Hintergrundposition und -größe (ohne -webkit- für allgemeine Browserunterstützung) */
@keyframes slidein {
  /* Startpunkt der Animation mit Hintergrundposition oben und Hintergrundgröße von 3000px */
  from {background-position: top;background-size:3000px; }
  /* Endpunkt der Animation mit verschobener Hintergrundposition und verkleinerter Hintergrundgröße auf 2750px */
  to {background-position: -100px 0px;background-size:2750px;}
}
