/* Globale Stile für das HTML und den Body */
html, body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    list-style: none;
    text-decoration: none;
}
  
  
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    background-image: url("pics/background.jpg");
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


.lines {
  color: #59c1fe;
  position: fixed;
  width: 100vw;
  height: 4em;
  background: linear-gradient(rgba(color, 0.2) 20%, color 40%, color 60%, rgba(color, 0.2) 80%);
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba(color, 0.4);
  transform: translateY(-1em);
  left: 0;
}


h1 {
  position: relative;
  font-family: 'Exo';
  font-size: 9em;
  margin: 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
  
&::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: 
      radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
}
  

span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
}
  

span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
}


h2 {
  font-family: cursive;
  font-family: fantasy;
  margin: 0;
  font-size: 5.5em;
  margin-top: -0.3em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}


a {
    text-decoration:none;
 }


.grid {
  background: 
    linear-gradient(transparent 65%, transparent 95%),
    linear-gradient(90deg, transparent 65%, transparent 95%);
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  bottom: -100vh;
  mask-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 80%);
}


.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    display: block; 
    z-index: 10;
    color: #fff;
    width: 100%;
    height: 80px;
    text-align: center;
    backdrop-filter:blur(10px);
}


/* Keyframes für die Animation der Hintergrundposition und -größe bei -webkit- (für Webkit-basierte Browser wie Chrome und Safari) */
@-webkit-keyframes slidein {
    /* Startpunkt der Animation mit Hintergrundposition oben und Hintergrundgröße von 3000px */
    from {background-position: top; background-size:3000px; }
    /* Endpunkt der Animation mit verschobener Hintergrundposition und verkleinerter Hintergrundgröße auf 2750px */
    to {background-position: -100px 0px;background-size:2750px;}
}
  
  
/* Keyframes für die Animation der Hintergrundposition und -größe (ohne -webkit- für allgemeine Browserunterstützung) */
@keyframes slidein {
    /* Startpunkt der Animation mit Hintergrundposition oben und Hintergrundgröße von 3000px */
    from {background-position: top;background-size:3000px; }
    /* Endpunkt der Animation mit verschobener Hintergrundposition und verkleinerter Hintergrundgröße auf 2750px */
    to {background-position: -100px 0px;background-size:2750px;}
}